h2
{
  text-align:center;
  background-color:brown;
  padding:6px;
  color:cornsilk;
}
.out
{
  height:525px;
  width:525px;
  background-image:url("http://1.bp.blogspot.com/-yBEg3t3hKNg/ULHwBqCjpvI/AAAAAAAAAIU/Ofh8eSViV24/s1600/Snakes_and_Ladders.jpg");
  background-size:525px 525px;
  background-repeat:no-repeat;
  float:left;
}
.mn
{

  height:500px;
  width:500px;
  position:absolute;
  top:90px;
  left:20px;
}
#side
{
  height:500px;
  width:200px;
  margin-left:500px;
}
.btn
{
  height:40px;
  width:100px;
  margin-left:50px;
  margin-top:20px;
  border-radius:5px;
}
.boardbox
{
  height:50px;
  width:50px;
  z-index:-1;

}
.left
{
  float:left;
}
.right
{
  float:right;
}
.img
{
  height:45px;
  width:50px;
  margin:2px 0px 3px 0px;
}
#dice
{
  height:80px;
  width:80px;
  font-size:70px;
  color:black;
  margin:auto;
  border:none;
  background-color:white;
}