* {
	margin: 0;
	padding: 0;
}

h1 + p {
	padding: 20px;
}

#main {
	margin: auto;
	padding: 20px;
	width: 90%;
	height: auto;
	background-color: rgb(200 200 200);
}

#input-box {
	margin: 0 10px;
	padding: 20px;
	width: auto;
	display: inline;
	float: left;
	/*background-color: red;*/
}

#output-box {
	margin: 0 10px;
	padding: 20px;
	width: auto;
	display: inline;
	float: left;
	/*background-color: red;*/
}

#button {
	margin: 0 10px;
	padding: 50px 20px 20px 20px;
	width: auto;
	display: inline;
	float: left;
	text-align: center;
	/*background-color: red;*/
}

#answer-box {
	
	clear: both;
	margin: auto;
	width: 50%;
	text-align: center;
}

/* formatação do botão sem Bootstrap
.answer {
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
	background-color: orange;
} */