*{
	font-family: Oswald;
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
	text-align: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
.title{
	font-size: 10vmax;
	color: white;
}
.subtitle{
	font-size: 5vmax;
	color: white;
}
.button{
	border: 4px solid white;
	font-size: 7vmax;
	color: white;
	padding: 5vmin;
	margin: 10vmin;
	cursor: pointer;
	display: inline-block;
}
.close{
	margin: 5vmin;
}
.button:hover{
	background-color: white;
	color: black;
}
.input{
	color: black;
	width: 80vw;
	text-transform: uppercase;
	text-align: center;
	border-radius: 0;
	outline: none;
}
#ball{
	width: 5vh;
	height: 5vh;
	background-color: white;
	position: fixed;
	transform: translateX(-2.5vh) translateY(-2.5vh);
}
#paddle{
	height: 30vh;
	width: 5vh;
	background-color: white;
	position: fixed;
	top: 50vh;
	transform: translateX(-2.5vh) translateY(-15vh);
/* 	transition: top .1s; */
}
.border{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-top: 8px solid white;
	border-bottom: 8px solid white;
}
.left{
	border-left: 8px solid white;
}
.right{
	border-right: 8px solid white;
}
.leftp{
	left: 7.5vh;
}
.rightp{
	right: 7.5vh;
}
#scorel{
	font-size: 20vh;
	color: white;
	position: fixed;
	left: 5vw;
}
#scorer{
	font-size: 20vh;
	color: white;
	position: fixed;
	right: 5vw;
}