*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-weight: regular;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(180, 190, 254);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(242, 205, 205, 0.7);
}

.calculator-grid > button:hover {
  background-color: rgba(242, 205, 205, 1);
}

.span-twice {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(49, 50, 68, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 11vh;
}

.output .previous-output{
    font-size: 1.5rem;
    color: rgba(255,255,255,0.75)
}

.output .current-output{
    font-size: 2.5rem;
    color: rgba(255,255,255)
}