body,html{
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	color: white;
}

#circleBig{
	width:600px;
	height: 600px;
	border-radius: 50%;
	position: absolute;
	bottom:0%;
	left:0%;
	transform: translate(-42%,42%);
	background: 	#2E7BFD;
}
#innerCircle{
	width:190px;
	height: 190px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background: white;
}

#main_content{
	width: 90%;
	height: 84%;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-53%);
	border: 2px solid black;
	border-radius: 10px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, #2b2d5c , #191d3a); 
}
.child{
	position: absolute;
	border-radius:15px; 
	background: #393568;
}
#upBar{
	width: 100%;
	height: 15%;
}
#sideBar{
	width: 20%;
	height: 84%;
	top:16%;
}
#centerUpBar{
	width:49%;
	height:18%;
	top:19%;
	left:21.5%;
}
#centerTODOlist{
	width:49%;
	height:56%;
	top:41%;
	left:21.5%; 
	overflow-y: scroll;
}
#addBar{
	width:26.5%;
	height:77%;
	top:19%;
	left:72%;
}
#dateShower{
	vertical-align: top;
	width:17%;
	margin:5px 0 0  15px ;
	height: 90%;
	color: white;
	display: inline-block;
}
#date{
	width:65%;
	height:65%;
	margin: 10px 0 0 22px;
	text-align: center;
	font-size: 72px;
	font-family: 'Volkhov', serif;
}
#month{
	width:65%;
	height:15%;
	margin:-7px 0 0 24px;
	text-align: center;
	font-size: 25px;
	font-family: 'Noticia Text', serif;
}
#progress{
	margin: 5px 0 0 0;
	width:78%;
	height:90%;
	display: inline-block;
	color: white;
	font-family: 'Lato', sans-serif;
}
#progressHead{
	font-size: 22px;
	margin: 20px 0 0 30px;
	font-weight: bold;
}
.works{
	position: absolute;
	bottom: 20%;
}
#totWorks{
	right:7%;
}
#done{
	left:23%;
}
#totalProgress{
	width: 70%;
	position: absolute;
	top:50%;
	left:23%;
	padding:2px;
	border-radius: 10px;
	background-color: #898888;
}
#currentProgress{
	top:0;
	left: 0;
	border-radius: 10px;
	position: absolute;
	height: 100%;
	background-color: #21ff00;
	width:1%;
}
#inputBox,#inputHead{
	width:87%;
	height: 20%;
	margin: 40px 0 0 30px;
	font-size:32px;
	font-family: 'Nunito', sans-serif;
	border-radius: 20px;
	padding: 10px;
}
#inputBox:focus,#inputHead:focus{
	outline: none;
}
#inputHead{
	height: 11%;
}
#textAdd{
	margin: 40px 30px 30px 40px;
}
.radioBut{
	width: 50px;
}
#low{
	margin:40px 30px 30px 40px; 
}
label{
	color: white;
	font-size:25px;
}
input[type=radio]{
	width:20px;
	height:20px;
	margin:10px 20px;

}
#send{
	padding: 8px;
	width: 32%;
	font-size: 32px;
	border-radius: 8px;
	margin: 10px 33%;
	outline: none;
	text-align: center;
	color: white;
	background-image: linear-gradient(to bottom right, #3260fc , #3a97fb); 
	transition: 1s;
}
#send:active{
	transform: scale(0.7);
}
.innerBox{
	width:92%;
	height: 25%;
	position: relative;
	left:4%;
	margin-top:20px;  
}
.textView{
	position: absolute;
	z-index: 100;
	height: 96%;
	top:2%;
	padding-left:10px; 
	width:60%;
	left:1%;
}
.iconDiv{
	width:35%;
	height: 96%;
	position: absolute;
	top:2%;
	right:2%;
}
img{
	width: 18%;
	margin:30px 5px;
}
.TODOid{
	font-size: 26px;
	margin-bottom:15px; 
}
.TODOdesc{
	font-size: 18px;
	color: silver;
}
.striked{
	text-decoration: line-through;
}
.high{
	border-left:5px solid red;
}
.medium{
	border-left:5px solid yellow;
}
.low{
	border-left: 5px solid lightgreen;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#error{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	border:2px solid red;
	color: red;
	padding: 5px;
	display: none;	
	z-index: 100;
}
#imageDiv{
	margin: 30px 114px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius:30% 0 30% 0;
	border:2px solid white;
}
#imageDiv > img{
	margin: 0;
	width: 100%;
	height: 100%;
}
#sideBar > h1{
	text-align: center;
}
#filters{
	border:2px solid width;
	position: absolute;
	left: 50px;
	bottom:40px;
	padding:15px;
}
.box{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 20px;
}
.filter{
	font-size:20px;	
	padding: 10px;
}
#filterhigh > .box{
	background-color: red;	
}
#filterlow > .box{
	background-color: lightgreen;	
}
#filtermedium > .box{
	background-color: yellow;	
}
#filtercompleted > .box{
	background-color: white;	
}
#filterall > .box{
	background-color: black;
}
#filterimportant > .box{
	background-color: pink; 
}
#upBar > span{
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 50%;
	margin: 30px 30px 0 40px;;
	background: #e35bc7;
}
#upbar > span > span{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #393568;
}
#upbar > div{
	transform: translateY(-50%);
	display: inline-block;
	font-size:28px;
}
#circle2{
	width:400px;
	height: 400px;
	border-radius:100%;
	background:  #e35bc7;
	position: absolute;
	top:0;
	left: 30%;
}

#circle3{
	width: 300px;
	height: 300px;
	position: absolute;
	border-radius: 50%;
	bottom: 0px;
	right: 0px;
	background: #e35bc7;
}