html {
    --bg: rgb(2,0,36);
    --font: #d4d4d4;
}

html[data-theme='light'] {
    --bg: rgb(241, 255, 253);
    --font: #7c7c7c;
}

body{
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    text-align: center;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-text{
    position: relative;
    /* top: -5%;
    left: 50%;
    transform: translate(-50%,50%); */
    text-shadow: 0 0 10px #FF0000, 0 0 5px #0000FF;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.banner-text h1{
    font-size: 50px;
}

.contact{
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 750px;
    width: 100%;
    text-decoration: none;
}

.footer{
    position: absolute;
    left: 0;
    top: 890px;
    width: 100%;
    color: var(--font);
}

.image{
    position: relative;
    background-image: url('./assets/SNP_0082.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 3% auto;
    width: 400px;
    height: 400px;
    transition: 0.5s;
}

.glow::before,.glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(20px);
}

a:link { 
    text-decoration: none; 
} 

.theme {
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

input[type="checkbox"]:checked ~ .label{
    background-color: #333;
}

.label {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 1s;
}

.label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #333;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .label:before{
    transform: translateX(-50px);
}

.label::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .label::after{
    transform: translateX(0px);
}

.item-m {
    padding: 5px;
    width: 50px;
    transition: 0.5s;
}

.item-s {
    padding: 5px;
    width: 45px;
    transition: 0.5s;
}

.item-l {
    padding: 5px;
    width: 55px;
    transition: 0.5s;
}

.item-m:hover {
    transform:scale(1.3);
}

.item-s:hover {
    transform:scale(1.3);
}

.item-l:hover {
    transform:scale(1.3);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}